@font-face {
	font-family: 'hitel';
	src: url(/resources/fonts/hitel.tff) format('truetype');
}

@font-face {
	font-family: 'DungGeunMo';
	src: url(/resources/fonts/DungGeunMo.ttf) format('truetype');
}

body{background-color: #00007e; font-family: DungGeunMo; color: white; font-size: 12pt;}
table{border-collapse: separate; border-spacing: 0 2px;}

 a:link { color: white; text-decoration: none;}
 a:visited { color: white; text-decoration: none;}
 a:hover { color: white; text-decoration: none; font-weight: bolder;}